@view-height: 400px;
@gray: #ddd;


.jumbotron {
    background: #333;
    color: #fff;
    padding: 60px 0;
    text-align: center;
    width: 100%;

    h1 {
        font-size: 72px;
        line-height: 1;
    }

    p.lead {
    }
}

#img-view {
    border: 1px @gray solid;
    height: @view-height;
    overflow-y: scroll;
}

#text-input {
    height: @view-height;
    overflow-y: scroll;
    width: 100%;
}