<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <style>
      {% block style %}{% endblock %}
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
    {% assets "all-css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markdown.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ url_for('project_list') }}">Projects</a></li>
          {% if current_user.has_role('admin') %}<li><a href="{{ url_for('admin.index') }}">Admin</a></li>{% endif %}
          <li><a href="#">{{ current_user.email }}</a></li>
        </ul>
        <h3 class="muted">Hello</h3>
      </div>
      <hr />
      {% block flashed %}
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
      {% endwith %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
