{# Link to a project's edit page #}
{% macro edit_project(p, user, url) %}
    {% if user.can_edit and user.can_edit(p) %}
        <a href="{{ url_for('projectview.edit_view', id=p.id, url=url) }}" class="btn">Edit</a>
    {% endif %}
{% endmacro %}

{# Show a list of projects. #}
{% macro project_list(projects, user) %}
    <ul>
    {% for p in projects %}
        <li>
            <h3><a href="{{ url_for('project', slug=p.slug) }}">{{ p.name }}</a></h3>
            {{ edit_project(p, user, url_for('project_list')) }}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}
