{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>{{ project.name }}</h1>
<hr />
<div class="row">
    <div class="span6">
        <img src="{{ images.url(segment.image_path) }}" />
    </div>
    <div class="span6">
        <form method="POST" action="">
            {{ form.content(id='text-input', rows='30', style='width: 100%') }}
        </form>
    </div>

</div>

<div class="well">
    {{ form.in_progress(class='btn btn-primary') }}
    <a href="{{ url_for('segment_edit', slug=project.slug) }}" class="btn">Show me another page</a>
    {{ form.complete(class='btn btn-danger') }}
</div>
{# <div id="preview" />

<script>
    $(function() {
        $('#text-input').keydown(function() {
            $('#preview').html(markdown.toHTML($(this).val()));
        });
    });
</script> #}
{% endblock %}