{% extends 'layout.html' %}

{% block content %}
<h1>About</h1>

<h2 id="projects">Projects</h2>
<p>Many of the most popular Sanskrit texts have already been digitized. But there is still an enormous number of important and valuable texts that exist only as scans, if they've even been scanned at all. And there are hundreds of related texts &mdash; like translations, commentaries, and so on &mdash; that deserve our attention too.</p>

<h2 id="process">Process</h2>
<p>Instead of burdening a single person with an entire project, we split the project into hundreds of <dfn>fragments</dfn>. This has two main advantages:</p>

<ul>
    <li>It's easy to get started and contribute to a project.</li>
    <li>Multiple people can work on a project at the same time.</li>
</ul>

<p>This approach was first developed by <a href="http://pgdp.net">Distributed Proofreading</a>, but we've tried to simplify it here and make it easier for users to get started.</p>

<h2 id="results">Results</h2>
<p>Results are released under the most permissive license possible. Usually, this means that texts will be released into the public domain.</p>

{% endblock %}