{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block title %}Index{% endblock %}

{% block style %}
    h2 {
        margin-top: 1em;
    }
    .btn-large {
        text-align: center;
    }
{% endblock %}

{% block content %}
<h1>What now?</h1>

<h2>1. <a href="{{ url_for('project_list') }}">Find a project</a> you want to work on</h2>
<p>Look over the <a href="{{ url_for('project_list') }}">full list of projects</a> and try to find a project you can work on. Some projects are easier than others.</p>

<h2>2. Learn <a href="{{ url_for('proofreading') }}">how to proofread</a></h2>
<p>These <a href="{{ url_for('proofreading') }}">basic guidelines</a> make sure that different pieces of a project are relatively consistent. Do your best to follow them, but don't worry about being exact.</p>

<h2>3. Start helping!</h2>
<p>With your help, we can make these texts more accessible than ever before and ensure that they survive for generations to come.</p>

{% endblock %}
