{# Link to a project's edit page #}
{% macro project_options(p, user, url) %}
    {% if user.is_authenticated() %}
        <a href="{{ url_for('project', slug=p.slug) }}" class="btn btn-primary btn-large">Go to project &raquo;</a>
    {% else %}
        <a href="{{ url_for('security.register') }}" class="btn btn-primary">Sign up and start helping</a>
    {% endif %}
{% endmacro %}

{# Show a list of projects. #}
{% macro project_list(projects, user) %}
    {% for p in projects %}
    <section class="well">
        <h3>{{ p.name }} <span class="label label-important">Step 1: Proofreading</span></h3>
        <div class="progress">
            <div class="bar bar-success" style="width:40%"></div>
            <div class="bar bar-warning" style="width:30%"></div>
            <div class="bar bar-danger" style="width:30%"></div>
        </div>
        {{ project_options(p, user, url_for('project_list')) }}
    </section>
    {% endfor %}
    </ul>
{% endmacro %}

{# show a form field #}
{% macro show_field(field) %}
    {% set e = field.errors %}
    <div class="control-group{% if e %} error{% endif %}">
        {{ field.label(class='control-label') }}
        <div class="controls">
            {{ field }}
            {% if e %}
            <ul class="help-inline">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endmacro %}