{% extends 'layout.html' %}
{% import 'macros.html' as m %}

{% block title %}{{ project.name }}{% endblock %}

{% set p = project %}
{% block content %}
<h1>{{ p.name }}</h1>

<h2>About the project</h2>

<h2>Before you start</h2>
<p class="alert alert-warning">Make sure you've read over the <a href="{{ url_for('proofreading') }}">proofreading guidelines</a>. They're basic, but they're also very important!</p>
<a href="{{ url_for('segment_edit', slug=p.slug) }}" class="btn btn-primary btn-large btn-block">Start helping</a>
{% endblock %}