{% extends 'layout.html' %}

{% block content %}
<h1>How to proofread</h1>

<h2>What is proofreading?</h2>
<p>We process pages in two phases: <dfn>proofreading</dfn> and <dfn>formatting</dfn>. During proofreading, we make sure that the words on the page are represented correctly. During formatting, we make sure that the words appear like they do on the original page.</p>

<h2>The most important rule</h2>
<p>The most important rule in proofreading is to <strong>match the original as closely as possible</strong>:</p>

<ul>
    <li>If the image uses strange spelling or punctuation, the text should too.</li>
    <li>If the image has a typo, the text should too.</li>
    <li>If the image has a paragraph that takes 8 lines, the text should too.</li>
</ul>

<h2>Exceptions</h2>
<p>However, there are some basic exceptions:</p>

<ul>
    <li>Join hyphenated words together.</li>
    <li>Separate paragraphs with blank lines.</li>
    <li>Don't write down headers or page numbers.</li>
    <li>Don't indent paragraphs.</li>
</ul>

<h2>Details</h2>
<p>The rules above cover many of the pages you'll see. For harder cases, like footnotes, tables, and so on, you should consult the guidelines on the Distributed Proofreading website. For an overview of these guidelines, you can look over this <a href="http://www.pgdp.net/c/faq/proofing_summary.pdf">two-page summary</a>. The <a href="http://www.pgdp.net/c/faq/proofreading_guidelines.php">full guidelines</a> are much longer, but they do have advice for all of the cases you're likely to see.</p>
{% endblock %}
